.konyvTabla{   
   border-collapse:collapse;
   border:1px solid #000000;
   max-width: 80%;
}

.kodOszlop{
    width: 200px;
    text-align: center;
}

.cimOszlop{
    width: 70%;
}

.dbOszlop{
    text-align: center;
}

.kiveszOszlop{
    
}

.konyvTablaHeader{
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.konyvTablaOddRow{
   text-align:left;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.konyvTablaEvenRow{
   text-align:left;
   background:none repeat scroll 0 0 #D3D3D3;
}