<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:selectOneListbox
                value="#{diakBean.kivalasztottDiakKonyvId}"
                id="konyvLista">
                <f:selectItem itemLabel="-Mind-" />
                <f:selectItems value="#{diakBean.kivalasztottDiakOsztalyev.diakkonyvs}" var="diakKonyv"
                               itemLabel="#{diakKonyv.konyv.cim}" 
                               itemValue="#{diakKonyv.id}" />
                <f:ajax render="@form" />
            </h:selectOneListbox>
        </ui:composition>
    </h:body>
</html>

