<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
           
                <table>
                    <tr>
                        <td>Azonosító</td>
                        <td>
                            <h:outputText
                                rendered="#{diakBean.kivalasztottDiak != null}"
                                value="#{diakBean.kivalasztottDiak.id}"
                                id="diakId" />
                        </td>
                    </tr>
                    <tr>
                        <td>Név</td>
                        <td>
                            <h:inputText
                                rendered="#{diakBean.kivalasztottDiak != null}"
                                value="#{diakBean.kivalasztottDiak.nev}"
                                id="diakNev" />
                        </td>
                    </tr>
                    <tr>
                        <td>OM</td>
                        <td>
                            <h:inputText
                                rendered="#{diakBean.kivalasztottDiak != null}"
                                value="#{diakBean.kivalasztottDiak.om}"
                                id="diakOM" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <h:commandButton
                                action="#{diakBean.ujDiak}" 
                                value="Új">
                                <f:ajax render="@form" />
                            </h:commandButton> 
                            <h:commandButton 
                                action="#{diakBean.mentDiak()}"
                                value="Ment"
                                disabled="#{diakBean.kivalasztottDiak == null}">
                                <f:ajax execute="diakNev diakOM" 
                                        render="@form" />
                            </h:commandButton> 
                            <h:commandButton 
                                action="#{diakBean.torolDiak()}"
                                value="Töröl"
                                disabled="#{diakBean.kivalasztottDiak == null}">
                                <f:ajax render="@form" />
                            </h:commandButton>
                        </td>
                    </tr>
                </table>

        </ui:composition>
    </h:body>
</html>

