<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>

            <table>
                <tr>
                    <td>Azonosító</td>
                    <td>
                        <h:outputText
                            value="#{diakBean.kivalasztottDiakOsztalyev.id}"
                            id="osztalyevId" />
                    </td>
                </tr>
                <tr>
                    <td>Év</td>
                    <td>
                        <h:inputText
                            rendered="#{diakBean.kivalasztottDiakOsztalyev != null}"
                            value="#{diakBean.kivalasztottDiakOsztalyev.tanev}"
                            id="osztalyevev" />
                    </td>
                </tr>
                <tr>
                    <td>Osztály</td>
                    <td>
                        <h:inputText
                            rendered="#{diakBean.kivalasztottDiakOsztalyev != null}"
                            value="#{diakBean.kivalasztottDiakOsztalyev.osztaly}"
                            id="osztalyevosztaly" />
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h:commandButton
                            action="#{diakBean.ujDiakOsztalyev()}" 
                            value="Új"
                            disabled="#{diakBean.kivalasztottDiak == null}">
                            <f:ajax render="@form" />
                        </h:commandButton> 
                        <h:commandButton 
                            action="#{diakBean.mentDiakOsztalyev()}"
                            value="Ment"
                            disabled="#{diakBean.kivalasztottDiakOsztalyev == null}">
                            <f:ajax execute="osztalyevev osztalyevosztaly" 
                                    render="@form" />
                        </h:commandButton> 
                        <h:commandButton 
                            action="#{diakBean.torolDiakOsztalyev()}"
                            value="Töröl"
                            disabled="#{diakBean.kivalasztottDiakOsztalyev == null}">
                            <f:ajax render="@form" />
                        </h:commandButton>
                    </td>
                </tr>
            </table>

        </ui:composition>
    </h:body>
</html>

