<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="style.css"  /> 
    </h:head>
    <h:body>

        <h:form id="myForm">
            <div id="fejlec">
                <ui:insert name="fejlec" >
                    <ui:include src="fejlec.xhtml" />
                </ui:insert>
            </div>
            <div id="diakEvLenyiloDiaklistazashoz">
                <ui:insert name="diakEvLenyiloDiaklistazashoz" >
                    <ui:include src="diakEvLenyiloDiaklistazashoz.xhtml" />
                </ui:insert>
            </div>
            <div id="diakOsztalyEvLenyiloDiaklistazashoz">
                <ui:insert name="diakOsztalyEvLenyiloDiaklistazashoz" >
                    <ui:include src="diakOsztalyEvLenyiloDiaklistazashoz.xhtml" />
                </ui:insert>
            </div>
            
            <div id="diakLenyilo">
                <ui:insert name="diakLenyilo" >
                    <ui:include src="diakLenyilo.xhtml" />
                </ui:insert>
            </div>
            <div id="diakReszletek">
                <ui:insert name="diakReszletek" >
                    <ui:include src="diakReszletek.xhtml" />
                </ui:insert>
            </div>
            <div id="diakOsztalyEvLista">
                <ui:insert name="diakOsztalyEvLista" >
                    <ui:include src="diakOsztalyEvLista.xhtml" />
                </ui:insert>
            </div>
            <div id="diakOsztalyEvReszletek">
                <ui:insert name="diakOsztalyEvReszletek" >
                    <ui:include src="diakOsztalyEvReszletek.xhtml" />
                </ui:insert>
            </div>
            <!--            <div id="diakKonyvLista">
                            <ui:insert name="diakKonyvLista" >
                                <ui:include src="diakKonyvLista.xhtml" />
                            </ui:insert>
                        </div>-->
            <div id="diakKonyvTabla">
                <ui:insert name="diakKonyvTabla" >
                    <ui:include src="diakKonyvTabla.xhtml" />
                </ui:insert>
            </div>
            <ui:fragment rendered="#{diakBean.kivalasztottDiakOsztalyev != null and diakBean.kivalasztottDiakOsztalyev.osztaly != null}">
                <div id="targyLenyilo">
                    <ui:insert name="targyLenyilo" >
                        <ui:include src="targyLenyilo.xhtml" />
                    </ui:insert>
                </div>
                <div id="kodKereso">
                    <ui:insert name="kodKereso" >
                        <ui:include src="kodKereso.xhtml" />
                    </ui:insert>
                </div>
                <div id="diakKonyvTablaDiak">
                    <ui:insert name="diakKonyvTablaDiak">
                        <ui:include src="diakKonyvTablaDiak.xhtml" />
                    </ui:insert>
                </div>
            </ui:fragment>

        </h:form>
    </h:body>
</html>

