<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:dataTable value="#{diakBean.diakkonyvek}" var="diakKonyv">
                <h:column>    				
                    <f:facet name="header">Cím</f:facet>   
                    <h:outputText value="#{diakKonyv.konyv.cim}" />                   
                </h:column>
                <h:column>
                    <f:facet name="header">Selejt</f:facet>
                    <h:commandButton value="Selejt"
                                     action="#{diakBean.selejtez()}">
                        <f:ajax render="@form" />
                    </h:commandButton>
                </h:column>
                <h:column>
                    <f:facet name="header">Visszahoz</f:facet>
                    <h:commandButton value="Visszahoz"
                                     action="#{diakBean.visszahoz()}">
                        <f:ajax render="@form" />
                    </h:commandButton>
                </h:column>
            </h:dataTable>
            <h:commandButton
                action="#{diakBean.pdfKeszit}" 
                value="PDF készítés">
                
            </h:commandButton> 
<!--            <h:commandButton value="Felvesz"
                             action="#{szamlaBean.kosarbeTesz}">
                <f:ajax render="@form" />
            </h:commandButton>
            <h:selectOneListbox
                value="#{diakBean.kivalasztottDiakKonyvId}"
                id="konyvLista">
                <f:selectItem itemLabel="-Mind-" />
                <f:selectItems value="#{diakBean.kivalasztottDiakOsztalyev.diakkonyvs}" var="diakKonyv"
                               itemLabel="#{diakKonyv.konyv.cim}" 
                               itemValue="#{diakKonyv.id}" />
                <f:ajax render="@form" />
            </h:selectOneListbox>-->
        </ui:composition>
    </h:body>
</html>

