<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:inputText
            value="#{konyvBean.kodReszlet}"
            id="kodKereso" />
        <h:commandButton 
            action="#{konyvBean.csakGomb()}"
            value="Szűr"
            id="szur">
            <f:ajax execute="kodKereso"
                render="@form" />
        </h:commandButton> 
        <p:defaultCommand target="szur" />
    </h:body>
</html>

