<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="css" name="styles.css"  /> 
    </h:head>
    <h:body>
        <ui:composition>
            <h:dataTable value="#{konyvBean.diakkonyvek}" var="diakKonyv"
                         name="konyvDiakTabla"
                         styleClass="konyvTabla"
                         headerClass="konyvTablaHeader">
                <h:column>    				
                    <f:facet name="header">Kód</f:facet>   
                    <h:outputText value="#{diakKonyv.diakosztalyev.diak.om}" />                   
                </h:column>
                <h:column>    				
                    <f:facet name="header">Név</f:facet>   
                    <h:outputText value="#{diakKonyv.diakosztalyev.diak.nev}" />                   
                </h:column>
<!--                <h:column>
                    <f:facet name="header">Kivesz</f:facet>
                    <h:commandButton value="Kivesz" 
                                     disabled="#{konyv.dbKonyvtarban == 0}"
                                     action="#{diakBean.kivesz()}">
                        <f:ajax render="@form" />
                    </h:commandButton>
                </h:column>-->
            </h:dataTable>
        </ui:composition>
    </h:body>
</html>

