<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        
            <h:form id="myForm">
                        <div id="fejlec">
                <ui:insert name="fejlec" >
                    <ui:include src="fejlec.xhtml" />
                </ui:insert>
            </div>

            <div id="targyLenyilo">
                <ui:insert name="targyLenyilo" >
                    <ui:include src="targyLenyilo.xhtml" />
                </ui:insert>
            </div>
            <div id="targyReszletek">
                <ui:insert name="targyReszletek" >
                    <ui:include src="targyReszletek.xhtml" />
                </ui:insert>
            </div>
            <div id="konyvLenyilo">
                <ui:insert name="konyvLenyilo" >
                    <ui:include src="konyvLenyilo.xhtml" />
                </ui:insert>
            </div>
            <div id="konyvReszletek">
                <ui:insert name="konyvReszletek" >
                    <ui:include src="konyvReszletek.xhtml" />
                </ui:insert>
            </div>
            <ui:fragment rendered="#{konyvBean.kivalasztottKonyv != null}">
                <div id="konyvDiakTabla">
                    <ui:insert name="konyvDiakTabla">
                        <ui:include src="konyvDiakTabla.xhtml" />
                    </ui:insert>
                </div>
            </ui:fragment>

        </h:form>
    </h:body>
</html>

