<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>

            <table>
                <tr>
                    <td>Azonosító</td>
                    <td>
                        <h:outputText
                            rendered="#{konyvBean.kivalasztottKonyv != null}"
                            value="#{konyvBean.kivalasztottKonyv.id}"
                            id="konyvId" />
                    </td>
                </tr>
                <tr>
                    <td>Cím</td>
                    <td>
                        <h:inputText
                            rendered="#{konyvBean.kivalasztottKonyv != null}"
                            value="#{konyvBean.kivalasztottKonyv.cim}"
                            id="konyvCim" />
                    </td>
                </tr>
                <tr>
                    <td>Kód</td>
                    <td>
                        <h:inputText
                            rendered="#{konyvBean.kivalasztottKonyv != null}"
                            value="#{konyvBean.kivalasztottKonyv.kod}"
                            id="konyvKod" />
                    </td>
                </tr>
                <tr>
                    <td>Tárgy</td>
                    <td>
                        <h:selectOneMenu 
                            rendered="#{konyvBean.kivalasztottKonyv != null}"
                            value="#{konyvBean.kivalasztottKonyvTargyId}"
                            id="konyvTargyLenyilo">
                            <f:selectItem itemLabel="-Nincs a listában!-" />
                            <f:selectItems value="#{konyvBean.targyak}" var="targy"
                                           itemLabel="#{targy.nev}" itemValue="#{targy.id}" />
                            <f:ajax render="konyvReszletekMent" />
                        </h:selectOneMenu>
                    </td>
                </tr>
                <tr>
                    <td>Ár</td>
                    <td>
                        <h:inputText
                            rendered="#{konyvBean.kivalasztottKonyv != null}"
                            value="#{konyvBean.kivalasztottKonyv.ar}"
                            id="konyvAr" />
                    </td>
                </tr>
                <tr>
                    <td>DB könyvtárban</td>
                    <td>
                        <h:inputText
                            rendered="#{konyvBean.kivalasztottKonyv != null}"
                            value="#{konyvBean.kivalasztottKonyv.dbKonyvtarban}"
                            id="konyvDbKonyvtarban" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h:commandButton
                            action="#{konyvBean.ujKonyv()}" 
                            value="Új">
                            <f:ajax render="@form" />
                        </h:commandButton> 
                        <h:commandButton 
                            id="konyvReszletekMent"
                            action="#{konyvBean.mentKonyv()}"
                            value="Ment"
                            disabled="#{konyvBean.kivalasztottKonyv == null or konyvBean.kivalasztottKonyv.targy == null}">
                            <f:ajax execute="konyvCim konyvKod konyvAr konyvDbKonyvtarban" 
                                    render="@form" />
                        </h:commandButton> 
                        <h:commandButton 
                            action="#{konyvBean.torolKonyv()}"
                            value="Töröl"
                            disabled="#{konyvBean.kivalasztottKonyv == null}">
                            <f:ajax render="@form" />
                        </h:commandButton>
                    </td>
                </tr>
            </table>

        </ui:composition>
    </h:body>
</html>

