<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:selectOneMenu 
                value="#{konyvBean.kivalasztottTargyId}"
                id="targyLenyilo">
                <f:selectItem itemLabel="-Válassz tárgyat!-" />
                <f:selectItems value="#{konyvBean.targyak}" var="targy"
                               itemLabel="#{targy.nev}" itemValue="#{targy.id}" />
                <f:ajax render="@form" />
            </h:selectOneMenu>
        </ui:composition>
    </h:body>
</html>

