<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>

            <table>
                <tr>
                    <td>Azonosító</td>
                    <td>
                        <h:outputText
                            rendered="#{konyvBean.kivalasztottTargy != null}"
                            value="#{konyvBean.kivalasztottTargy.id}"
                            id="targyId" />
                    </td>
                </tr>
                <tr>
                    <td>Név</td>
                    <td>
                        <h:inputText
                            rendered="#{konyvBean.kivalasztottTargy != null}"
                            value="#{konyvBean.kivalasztottTargy.nev}"
                            id="targyNev" />
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h:commandButton
                            action="#{konyvBean.ujTargy()}" 
                            value="Új">
                            <f:ajax render="@form" />
                        </h:commandButton> 
                        <h:commandButton 
                            action="#{konyvBean.mentTargy()}"
                            value="Ment"
                            disabled="#{konyvBean.kivalasztottTargy == null}">
                            <f:ajax execute="targyNev" 
                                    render="@form" />
                        </h:commandButton> 
                        <h:commandButton 
                            action="#{konyvBean.torolTargy()}"
                            value="Töröl"
                            disabled="#{konyvBean.kivalasztottTargy == null}">
                            <f:ajax render="@form" />
                        </h:commandButton>
                    </td>
                </tr>
            </table>

        </ui:composition>
    </h:body>
</html>

